<div class="container fixed-top colorBody1">
<nav class="navbar navbar-expand-lg navbar-light colorNavbar2 mt-1">
    <nav class="navbar navbar-light">
        <a *ngIf="!modalService.online && modalService.ojo2" class="navbar-brand  ml-3">
          <img *ngIf="ojo" (click)="onClick1()" src="../../../assets/img/ojo.png" width="40" height="40">
          <img *ngIf="!ojo" (click)="onClick2()" src="../../../assets/img/ojo.png" width="40" height="40">
        </a>
        <a *ngIf="modalService.online || !modalService.ojo2" class="navbar-brand  ml-3">
            <img *ngIf="ojo" src="../../../assets/img/ojo.png" width="40" height="40">
          </a>
      </nav>
    <a class="navbar-brand colorName4 ml-4">
        <strong class="text-uppercase federica6">Federica DJ</strong>
    </a>
    <button class="navbar-toggler colorBody1 mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="container text-justify ml-5 mr-5">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-1 ml-1" routerLinkActive='active'>
                <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/inicio']">Portada</a>
                </li>

                <li class="nav-item mr-1 ml-1" routerLinkActive='active'>
                    <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/noticias']">Noticias</a>
                </li>

                <li class="nav-item mr-1 ml-1" routerLinkActive='active'>
                    <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/noticiaCompleta']">Noticia Completa</a>
                </li>

                <li class="nav-item mr-1 ml-1" routerLinkActive='active'>
                    <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/mensajes']">Mensajes</a>
                </li>

                <li class="nav-item mr-1 ml-1" routerLinkActive='active'>
                    <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/ajustes']">Ajustes</a>
                </li>
                
            </ul>

            <div class="text-center mr-3 ml-3">
                <i 
                    *ngIf="loguin1" 
                    (click)="entrar()" 
                    class="fas fa-sign-in-alt colorNegro16 fa-lg" 
                    data-toggle="tooltip" 
                    data-placement="left" 
                    title="Admin login">
                </i>

                <i (click)="logOut()" *ngIf="this.modalService.online" class="fas fa-sign-out-alt fa-lg colorName3 cursor7 mr-4"></i>
                <i *ngIf="this.modalService.online" class="fas fa-wifi fa-lg colorName3"></i>
            </div>

            <div (keyup.enter)="inputLogin()" *ngIf="input1" class="input-group-sm">
                <input 
                    type="password"
                    id="focusClave"
                    [(ngModel)]="clave"
                    name="clave"
                    placeholder="Press Enter"
                    class="form-control backInput15"
                    aria-describedby="inputGroup-sizzing-sm"
                />
            </div>

            <div class="row">
                <div class="col text-center">
                    <p class="m-2">
                        <button (click)="alerta()" class="btn btn-outline-warning my-2" type="buttom">
                            <span class="badge badge-warning text-uppercase">Contacto</span>
                        </button>
                    </p>
                </div>
            </div>
            
        </div>
    </div>
  </nav>
</div>
<app-modals></app-modals>
